.row
  .seven.columns
    %h3 How It Works:
    %ol
      %li Enter Your Goal
      %li Get an email every month asking for your payoff amount
      %li See how you're reaching your goal
  .five.columns
    = render partial: "form"
